<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>我的优惠券</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/tab.js"></script>
</head>
<body>
<section class="aui-flexView">
    <header class="aui-navBar aui-navBar-fixed b-line"><a href="javascript:;" class="aui-navBar-item"><i
            class="icon icon-return"></i></a>
        <div class="aui-center"><span class="aui-center-title">我的优惠券</span></div>
        <a href="javascript:;" class="aui-navBar-item"><i class="icon icon-sys"></i></a></header>
    <section class="aui-scrollView">
        <div class="aui-tab" data-ydui-tab>
            <ul class="tab-nav b-line">
                <li class="tab-nav-item tab-active"><a href="javascript:;"><span>未使用</span></a></li>
                <li class="tab-nav-item"><a href="javascript:;"><span>已使用</span></a></li>
                <li class="tab-nav-item"><a href="javascript:;"><span>已过期</span></a></li>
            </ul>
            <div class="aui-flex aui-flex-search b-line">
                <div class="aui-flex-box"><input type="text" placeholder="请输入兑换码"></div>
                <div class="aui-button-btn">
                    <button>兑换</button>
                </div>
            </div>
            <div class="tab-panel">
                <!--  未使用 -->
                <div class="tab-panel-item tab-active">
                    <a href="javascript:;" class="aui-flex">
                        <div class="aui-price-nub">
                            <div class="aui-digit"><h2><em>￥</em>10</h2></div>
                            <div class="aui-full"><p>满1000元可用</p></div>
                        </div>
                        <div class="aui-flex-box"><h2>圣诞节专享红包-演唱会优惠券</h2>
                            <h3>2023.09.03~2023.09.29</h3>
                            <button>去使用</button>
                        </div>
                    </a>
                </div>


                <!-- 已使用 -->
                <div class="tab-panel-item tab-panel-item-clear">
                    <a href="javascript:;" class="aui-flex">
                        <div class="aui-price-nub">
                            <div class="aui-digit"><h2><em>￥</em>10</h2></div>
                            <div class="aui-full"><p>满1000元可用</p></div>
                        </div>
                        <div class="aui-flex-box"><h2>圣诞节专享红包-演唱会优惠券</h2>
                            <h3>2023.09.03~2023.09.29</h3>
                            <button>已使用</button>
                        </div>
                    </a>
                </div>

                <!-- 已过期 -->
                <div class="tab-panel-item tab-panel-item-clear">
                    <a href="javascript:;" class="aui-flex">
                        <div class="aui-price-nub">
                            <div class="aui-digit"><h2><em>￥</em>10</h2></div>
                            <div class="aui-full"><p>满1000元可用</p></div>
                        </div>
                        <div class="aui-flex-box"><h2>圣诞节专享红包-演唱会优惠券</h2>
                            <h3>2023.09.03~2023.09.29</h3>
                            <button>已过期</button>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>
</section>
</body>
</html>