<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangan.trade.coupon.db.mappers.CouponMapper">
  <resultMap id="BaseResultMap" type="com.shangan.trade.coupon.db.model.Coupon">
    <result column="coupon_id" jdbcType="BIGINT" property="couponId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="batch_id" jdbcType="BIGINT" property="batchId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="received_time" jdbcType="TIMESTAMP" property="receivedTime" />
    <result column="validate_time" jdbcType="TIMESTAMP" property="validateTime" />
    <result column="used_time" jdbcType="TIMESTAMP" property="usedTime" />
  </resultMap>
  <insert id="insert" parameterType="com.shangan.trade.coupon.db.model.Coupon">
    insert into coupon_user (coupon_id, user_id, batch_id, 
      status, order_id, received_time, 
      validate_time, used_time)
    values (#{couponId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{batchId,jdbcType=BIGINT}, 
      #{status,jdbcType=INTEGER}, #{orderId,jdbcType=BIGINT}, #{receivedTime,jdbcType=TIMESTAMP}, 
      #{validateTime,jdbcType=TIMESTAMP}, #{usedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shangan.trade.coupon.db.model.Coupon">
    insert into coupon_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="couponId != null">
        coupon_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="batchId != null">
        batch_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="receivedTime != null">
        received_time,
      </if>
      <if test="validateTime != null">
        validate_time,
      </if>
      <if test="usedTime != null">
        used_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="couponId != null">
        #{couponId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="batchId != null">
        #{batchId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="receivedTime != null">
        #{receivedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="validateTime != null">
        #{validateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="usedTime != null">
        #{usedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>